<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [reqId=%X{reqId:--}] %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.bet99" level="DEBUG"/>
  <logger name="org.hibernate.SQL" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
